.search-bar-container .btn {
	height: 48px;
	display: flex;
	align-items: center;
	padding-top: 0;
	padding-bottom: 0;
	font-size: 1.1rem;
	margin-left: 8px;
}

.search-bar-container {
	width: 100%;
	display: flex;
	justify-content: center;
	padding: 16px 0;
}
.search-bar-container .form-control {
	height: 48px;
	font-size: 1.1rem;
	width: 80vw;
	max-width: 80vw;
	min-width: 120px;
	padding-left: 18px;
	padding-right: 18px;
	box-sizing: border-box;
}
