// Custom navbar style
.custom-navbar {
	background-color: darkslategrey !important;
	min-height: 70px;
	height: 70px;
	.navbar-brand {
		color: white !important;
		font-weight: 600;
		font-size: 1.5rem;
		letter-spacing: 1px;
	}
}

// Style for the logout button
.custom-navbar .btn.btn-outline-dark {
  color: #fff;
  background-color: #007bff;
  border-color: #007bff;
}
.custom-navbar .btn.btn-outline-dark:hover,
.custom-navbar .btn.btn-outline-dark:focus {
  color: #fff;
  background-color: #0056b3;
  border-color: #0056b3;
}
